$orange: hsl(26, 100%, 55%);
$paleOrange: hsla(26, 100%, 55%, .4);
$veryDark: hsl(218, 12%, 13%);
$veryDarkLight: hsla(218, 12%, 13%,.75);
$grey: hsl(0, 0%, 49%);
$greylight: hsl(0, 0%, 91%);
$white: hsl(0, 0%, 100%);
$success: hsl(140, 91%, 37%);
$danger: hsl(0, 85%, 70%);

